@import "normalize.scss";  
@import url('https://fonts.googleapis.com/css?family=Lato:300,900');

body {
    background-color: #e8dacc;
}

header {
    height: 100vh;
    width: 100vw;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3c3b37;
    color: white;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
        display: flex;
        flex-direction: row;
        width: 40vw;
        justify-content: space-around;

        li {
            list-style: none;
        }
    }
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ed8e78;
}

#titles {
    height: 100%;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Lato, sans-serif;
    text-transform: uppercase;

    h1 {
        letter-spacing: 10px;
        font-size: 240%;
    }
}

#titles:after {
    content: '';
    width: 50vw;
    height: 20vh;
    position: relative;
    z-index: 0;
    top: -20vh;
    background-color: #3c3b375e;
}

main {
    h2 {
        font-family: Lato, sans-serif;
        text-transform: uppercase;
        margin: 0 0 2vw;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vw;
    }

    #about {
        color: #3c3b37;

        .about-text {
            width: 80%;
            margin: 0;
            font-family: Lato, sans-serif;
            font-size: 140%;
            line-height: 30px;
        }
    }

    #projects {
        color: white;
        background-color: #3c3b37;

        .project-container {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .project {
                background-color: #e8dacc;
                color: #3c3b37;
                width: 200px;
                height: 200px;
                margin: 20px;
            }
        }
    }
}

@import "media.scss";